.headerbar {
  border-top: 1px solid grey;
  border-bottom: 1px solid grey;
  margin: 1rem 2rem 0 2rem; /* top right bottom left */
  padding: 1rem;
  color: #3E4349; /* per alabaster */
}

div.body p, div.body dd, div.body li {
  line-height: 1.8 !important;
}